
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    border-bottom-style: solid
  }
  
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
  }

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: right;
}


h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-align: right;
}

  
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  } 
  
li {font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;}
    
.section {position: relative; margin-bottom: 1em; padding-bottom: 1em;}
.section.level1 h1{ position: relative; }
.section.level2 h2{ position: absolute; top: 0em; left: 0 }
.section.level3 h3{ position: absolute; top: 0em; right: 0 }
.section.level3 p{  position: relative; top: 3em; left: 0}
